{extend name="public/base" /}
{block name="style"}
<!-- Core stylesheets -->
<link rel="stylesheet" href="__CSS__/ui-elements/card.css">
<style>
    #card-2 .btn {
        border-radius: 5px;
        width: 70px;
    }
    select{
        text-align: center;
        text-align-last: center;
    }
    td,th{
        text-align: center;
        vertical-align: middle;
    }
</style>
{/block}
{block name="body"}
<div class="content-inner">
    <div class="chart-cont">
        <!--***** CONTENT *****-->
        <div class="top-option third-button container">
            <a href="{:url('admin/mini/addActive')}" class="btn btn-outline-primary">+ 添加推广活动</a>
        </div>
        <hr>
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr class="bg-info text-white">
                    <th>活动</th>
                    <th>渠道</th>
                    <th>小程序</th>
                    <th>监控链接</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="panel-heading">
                {volist name='list' id='item' key="index" }
                <tr>
                    <td>{$item.name}</td>
                    <td>{$item.sname}</td>
                    <td>{$item.mname}</td>
                    <td class=""><span>{$item.path}</span>
                        <a rel="nofollow" href="#" class="copy-item text-itemcopy-item d-inline-block ml-2">复制</a></td>
                    <td class="">
                        <a href="{:url('admin/mini/getWXAQRCode', array('id'=>$item['id']))}" class="btn-link blue">小程序码</a>
                        <a href="{:url('admin/mini/delActive', array('id'=>$item['id']))}" class="btn-link blue">删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {$page}
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__JS__/clipboard.min.js"></script>
<script>
    new ClipboardJS('.copy-item', {
        target: function(trigger) {
            return trigger.previousElementSibling;
        }
    });
</script>
{/block}