{include file="admin@public/header" /}
<style>
    .top-option .btn {
        margin: 0;
        width: auto;
        line-height: initial;
        padding: 0.8rem 1.5rem;
        font-weight: 500;
    }
</style>
{block name="style"}{/block}
</head>
<body>
<!--====================================================
                         MAIN NAVBAR
======================================================-->
{include file="admin@public/navbar" /}

<!--====================================================
                         MAIN TOOL
======================================================-->
<!--{include file="admin@public/tool" /}-->
<!--====================================================
                         MAIN CONTENT
======================================================-->
{block name="body"}{/block}
<!--====================================================
                         MAIN FOOTER
======================================================-->
<!--<include file="admin@public/footer" />-->
<!--====================================================
                         MAIN SCRIPT
======================================================-->
{include file="admin@public/script" /}
<!--====================================================
                         COSTOM SCRIPT
======================================================-->
{block name="script"}{/block}
</body>
</html>
