{include file="admin@public/header" /}
{block name="style"}{/block}
</head>
<body>
<!--====================================================
                         MAIN NAVBAR
======================================================-->
{include file="admin@public/navbar" /}

<!--====================================================
                         MAIN TOOL
======================================================-->
<!--{include file="admin@public/tool" /}-->
<!--====================================================
                         MAIN CONTENT
======================================================-->
{block name="body"}{/block}
<!--====================================================
                         MAIN FOOTER
======================================================-->
<!--<include file="admin@public/footer" />-->
<!--====================================================
                         MAIN SCRIPT
======================================================-->
{include file="admin@public/script" /}
<!--====================================================
                         COSTOM SCRIPT
======================================================-->
{block name="script"}{/block}
</body>
</html>
