{extend name="public/base" /}
{block name="style"}
<!-- Core stylesheets -->
<link rel="stylesheet" href="__CSS__/form.css">
{/block}
{block name="body"}
	<div class="content-inner">
		<form method="post" class="form form-horizontal">
			{if !isset($info)}
			{assign name="info" value="" /}
			{/if}
			{if !empty($fieldGroup)}
			<div class="tabs-wrapper">
				<ul class="nav nav-tabs">
					{volist name="fieldGroup" id="vGroup"}
					<li {if $i eq 1}class="active"{/if}><a href="#tab{$key}" data-toggle="tab">{$key}</a></li>
					{/volist}
				</ul>
				<div class="tab-content">
					{volist name="fieldGroup" id="vGroup"}
					<div class="tab-pane fade {if condition="$i eq 1"}in active{/if}" id="tab{$key}">
					{volist name="vGroup" id="field"}
					{if $field['type'] eq 'hidden'}
					<input type="hidden" name="{$field['name']}" value="{$info[$field['name']]|default=''}"/>
					{elseif $field['type'] neq 'options'/}
					<div class="form-group row">
						<label for="{$field['name']}" class="col-2 text-right col-form-label">{$field['title']|htmlspecialchars}</label>
						<div class="col-9 col-form-label">
							{:widget('common/Form/show',array($field,$info))}
							<small class="form-text text-muted">{$field['help']|default=''}</small>
						</div>
					</div>
					{/if}
					{/volist}
				</div>
				{/volist}
			</div>
	</div>
			{elseif isset($keyList) /}
			{volist name="keyList" id="field"}
			{if $field['type'] eq 'hidden'}
			<input type="hidden" name="{$field['name']}" value="{$info[$field['name']]|default=''}"/>
			{elseif $field['type'] neq 'options'/}
			<div class="form-group row">
				<label for="{$field['name']}" class="col-2 text-right col-form-label">{$field['title']|htmlspecialchars}</label>
				<div class="col-9 col-form-label">
					{:widget('common/Form/show',array($field,$info))}
					<small class="form-text text-muted">{$field['help']|default=''}</small>
				</div>
			</div>
			{/if}
			{/volist}
			{/if}
			<div class="form-group">
				<div class="text-center">
					<input type="hidden" name="id" value="{$info['id']|default=''}">
					<button class="btn btn-general btn-blue mr-2" type="submit" target-form="form-horizontal">确 定</button>
					<button class="btn btn-general btn-white" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</div>
			</form>
	</div>
{/block}