<!--***** SIDE NAVBAR *****-->
<nav class="side-navbar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="{:session('user_auth.avator')}" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h4">{:session('user_auth.nickname')}</h1>
        </div>
    </div>
    <hr>
    <ul class="list-unstyled">
        {volist name='__menu__.child' id='item' key="index" }
        <li class="{$item.style}">
            <a href="{:url($item.url)}"><i class="icon-{$item.icon}"></i>{$item.title}</a>
        </li>
        {/volist}
    </ul>
</nav>