{extend name="public/base" /}
{block name="style"}
<!-- Core stylesheets -->
<link rel="stylesheet" href="__CSS__/ui-elements/button.css">
<style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
        overflow: auto;
    }

    .btn.focus, .btn:focus{
        outline: 0;
        box-shadow: initial;
    }

    .table .btn{
        width: auto;
        margin: 0;
        font-size: 0.9rem;
        line-height: initial;
        border-radius: 5px;
    }

    .table tr a.text-item {
        padding: 10px 20px;
        font-size: 0.8em;
        color: #777;
        width: 100%;
        justify-content: center;
    }

    /*.table tr a.text-item:hover {*/
    /*background: #f5f5f5;*/
    /*}*/

    .table tr a.text-item:active {
        color: inherit;
        text-decoration: none;
        background-color: transparent;
    }

    .table tr .msg-profile {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .table tr h3 {
        font-weight: 500;
    }

    .table tr span {
        position: static;
        font-size: 0.9em;
        color: #999;
    }

    .table tr .msg-body{
        text-align:left;
    }

    .table tr.show{
        background: #0c5460;
    }

    .form-label {
        display: block;
        margin-bottom: .375rem;
        font-weight: 600;
        font-size: 0.875rem;
    }

    .selectgroup {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .selectgroup-item {
        -ms-flex-positive: 1;
        flex-grow: 1;
        position: relative;
    }
    .selectgroup-input {
        opacity: 0;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
    .selectgroup-input:checked + .selectgroup-button {
        border-color: #467fcf;
        z-index: 1;
        color: #467fcf;
        background: #edf2fa;
    }
    .selectgroup-item:not(:last-child) .selectgroup-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .selectgroup-button {
        display: block;
        border: 1px solid rgba(0, 40, 100, 0.12);
        text-align: center;
        padding: 0.375rem 1rem;
        position: relative;
        cursor: pointer;
        border-radius: 3px;
        color: #9aa0ac;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 0.9375rem;
        line-height: 1.5;
        min-width: 2.375rem;
    }

</style>
{/block}
{block name="body"}
<div class="content-inner  d-flex justify-content-between">
    <div class="chart-cont">
        <!--***** CONTENT *****-->
        <div class="" id="report2">
        <div class="invoice-title d-flex justify-content-between">
            <h5 class="h5">数据分析<small class="ml-2">下次刷新：<span id="countdown"></span></small></h5>
            {if session('user_auth.sid')<10}
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="mini" id="mini">
                {volist name="minis" id="item"}
                <option value="{$item.id}" {if ($item.id eq $Request.get.id) or ($key==0)}selected{/if}>{$item.name}
                </option>
                {/volist}
            </select>
            {else/}
            <input type="hidden"  name="mini" id="mini" value="9">
            {/if}
        </div>
        <hr>
        <div class="form-group">
                <div class="selectgroup">
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="today" checked class="selectgroup-input">
                        <span class="selectgroup-button">今天</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="yesterday" class="selectgroup-input">
                        <span class="selectgroup-button">昨天</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="week" class="selectgroup-input">
                        <span class="selectgroup-button">近七天</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="month" class="selectgroup-input">
                        <span class="selectgroup-button">近30天</span>
                    </label>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="login" height="200"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">新增访问</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="register" height="200"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">新增用户</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="auth" height="100"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">新增授权</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="browseAd" height="100"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">广告浏览次数</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="" id="report3">
            <div class="invoice-title ">
                <h5 class="h5">活动名称</h5>
            </div>
            <hr>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr class="bg-info text-white">
                        <th>活动名称</th>
                        <th>渠道名称</th>
                        <th>访问人数</th>
                        <th>新用户数</th>
                        <th>新增授权用户</th>
                        <th>浏览广告次数</th>
                    </tr>
                    </thead>
                    <tbody class="panel-heading" id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__JS__/utils.js"></script>
<script>
    $(function () {
        var chartbox = {
            'login': document.getElementById("login").getContext('2d'),
            'register': document.getElementById("register").getContext('2d'),
            'auth': document.getElementById("auth").getContext('2d'),
            'browseAd': document.getElementById("browseAd").getContext('2d')
        };
        var colorNames = Object.keys(window.chartColors);

        var config = {
            type: 'bar',
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                scales: {
                    xAxes: [{
                        maxBarThickness: 60
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }]
                }
            }
        };
        var chartlists = [];
        var timer=null;

        var $mini = $('#mini'),
            $datebtn = $('.selectgroup-button'),
            $dategroup = $('dategroup'),
            $tbody = $('#tbody'),
            $countdown = $('#countdown');

        var currentId = $mini.val();
        var currentDate = $dategroup.val();

        getCharts({id: currentId, granularity: currentDate});
        getTbody({id: currentId});

        $datebtn.on('click', function (e) {
            var id = $mini.val();
            var date = $(this).prev('input').val();
            var data = {
                id: id ? id : 1,
                granularity: date
            };
            getTbody(data);
            getCharts(data);
        });

        $mini.change(function () {
            currentId = $(this).val();
            getTbody({id: currentId});
            getCharts({id: currentId, granularity: currentDate});
        });

        setInterval(function () {
            getTbody({id: currentId});
            getCharts({id: currentId, granularity: currentDate});
        }, 1000 * 60 * 2);

        resetTime();
        function resetTime(){
            var t = 60 * 2;
            var m = 0;
            var s = 0;
            m = Math.floor(t / 60 % 60);
            m < 10 && (m = '0' + m);
            s = Math.floor(t % 60);
            function countDown(){
                s--;
                s<10&&(s='0'+s);
                if(s.length>=3){
                    s=59;
                    m="0"+(Number(m)-1);
                }
                if(m.length>=3){
                    m='00';
                    s='00';
                    clearInterval(timer);
                    Promise.all([ getTbody({id: currentId}),getCharts({id: currentId, granularity: currentDate})]).then(function(){
                        m = Math.floor(t / 60 % 60);
                        s = 0;
                        timer=setInterval(countDown,1000);
                    });
                }
                $countdown.html(m+':'+s);
            }
            timer=setInterval(countDown,1000);
        }

        function getCharts(data) {
            return new Promise(function(resolve, reject){
                $.getJSON("{:url('admin/publice/channelChartData')}", data, function (charts) {
                    $.each(charts, function (index, chart) {
                        var data = {
                            labels: chart.labels,
                            datasets: []
                        };
                        $.each(chart.datasets,function(i,d) {
                            var colorName = colorNames[i % colorNames.length];
                            var dataItem = {
                                label: d[1],
                                backgroundColor: window.chartColors[colorName],
                                borderColor: window.chartColors[colorName],
                                borderWidth: 1,
                                data: [d[0]]
                            };
                            data['datasets'].push(dataItem);
                        });
                        config.data = data;
                        if (!chartlists[index]) {
                            chartlists[index] = new Chart(chartbox[index], $.extend({}, config))
                        } else {
                            chartlists[index].data = data;
                            chartlists[index].update();
                        }
                    });
                    resolve('200 OK');
                });
            });
        }

        function getTbody(data) {
            return new Promise(function(resolve, reject){
                $.getJSON("{:url('admin/publice/channeldata')}", data, function (trs) {
                    var html = '';
                    $.each(trs, function (index, tr) {
                        html += '<tr>' +
                            '        <td><a rel="nofollow" href="#" class="text-item d-flex">'+tr.name+'</a></td>' +
                            '        <td><a rel="nofollow" href="#" class="text-item d-flex">'+tr.nickname+'</a></td>' +
                            '        <td><a rel="nofollow" href="#" class="text-item d-flex">'+tr.login.channel+'</a></td>' +
                            '        <td><a rel="nofollow" href="#" class="text-item d-flex">'+tr.register.channel+'</a></td>' +
                            '        <td><a rel="nofollow" href="#" class="text-item d-flex">'+tr.auth.channel+'</a></td>' +
                            '        <td><a rel="nofollow" href="#" class="text-item d-flex">'+tr.browseAd.channel+'</a></td>' +
                            '    </tr>';
                    });
                    $tbody.html(html);
                    resolve('200 OK');
                });
            });
        }
    });
</script>
{/block}