{extend name="public/base" /}
{block name="style"}
<style>
    .card-status {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        height: 3px;
        border-radius: 3px 3px 0 0;
        background: rgba(0, 40, 100, 0.12);
    }

    .bg-blue {
        background-color: #467fcf !important;
    }

    a.bg-blue:hover, a.bg-blue:focus,
    button.bg-blue:hover,
    button.bg-blue:focus {
        background-color: #2f66b3 !important;
    }

    .text-blue {
        color: #467fcf !important;
    }

    .bg-indigo {
        background-color: #6574cd !important;
    }

    a.bg-indigo:hover, a.bg-indigo:focus,
    button.bg-indigo:hover,
    button.bg-indigo:focus {
        background-color: #3f51c1 !important;
    }

    .text-indigo {
        color: #6574cd !important;
    }

    .bg-purple {
        background-color: #a55eea !important;
    }

    a.bg-purple:hover, a.bg-purple:focus,
    button.bg-purple:hover,
    button.bg-purple:focus {
        background-color: #8c31e4 !important;
    }

    .text-purple {
        color: #a55eea !important;
    }

    .bg-pink {
        background-color: #f66d9b !important;
    }

    a.bg-pink:hover, a.bg-pink:focus,
    button.bg-pink:hover,
    button.bg-pink:focus {
        background-color: #f33d7a !important;
    }

    .text-pink {
        color: #f66d9b !important;
    }

    .bg-red {
        background-color: #cd201f !important;
    }

    a.bg-red:hover, a.bg-red:focus,
    button.bg-red:hover,
    button.bg-red:focus {
        background-color: #a11918 !important;
    }

    .text-red {
        color: #cd201f !important;
    }

    .bg-orange {
        background-color: #fd9644 !important;
    }

    a.bg-orange:hover, a.bg-orange:focus,
    button.bg-orange:hover,
    button.bg-orange:focus {
        background-color: #fc7a12 !important;
    }

    .text-orange {
        color: #fd9644 !important;
    }

    .bg-yellow {
        background-color: #f1c40f !important;
    }

    a.bg-yellow:hover, a.bg-yellow:focus,
    button.bg-yellow:hover,
    button.bg-yellow:focus {
        background-color: #c29d0b !important;
    }

    .text-yellow {
        color: #f1c40f !important;
    }

    .bg-green {
        background-color: #5eba00 !important;
    }

    a.bg-green:hover, a.bg-green:focus,
    button.bg-green:hover,
    button.bg-green:focus {
        background-color: #448700 !important;
    }

    .text-green {
        color: #5eba00 !important;
    }

    .bg-teal {
        background-color: #2bcbba !important;
    }

    a.bg-teal:hover, a.bg-teal:focus,
    button.bg-teal:hover,
    button.bg-teal:focus {
        background-color: #22a193 !important;
    }

    .text-teal {
        color: #2bcbba !important;
    }

    .bg-cyan {
        background-color: #17a2b8 !important;
    }

    a.bg-cyan:hover, a.bg-cyan:focus,
    button.bg-cyan:hover,
    button.bg-cyan:focus {
        background-color: #117a8b !important;
    }

    .text-cyan {
        color: #17a2b8 !important;
    }

    .bg-white {
        background-color: #fff !important;
    }

    a.bg-white:hover, a.bg-white:focus,
    button.bg-white:hover,
    button.bg-white:focus {
        background-color: #e6e5e5 !important;
    }

    .text-white {
        color: #fff !important;
    }

    .bg-gray {
        background-color: #868e96 !important;
    }

    a.bg-gray:hover, a.bg-gray:focus,
    button.bg-gray:hover,
    button.bg-gray:focus {
        background-color: #6c757d !important;
    }

    .text-gray {
        color: #868e96 !important;
    }

    .bg-gray-dark {
        background-color: #343a40 !important;
    }

    a.bg-gray-dark:hover, a.bg-gray-dark:focus,
    button.bg-gray-dark:hover,
    button.bg-gray-dark:focus {
        background-color: #1d2124 !important;
    }

    .text-gray-dark {
        color: #343a40 !important;
    }

    .bg-azure {
        background-color: #45aaf2 !important;
    }

    a.bg-azure:hover, a.bg-azure:focus,
    button.bg-azure:hover,
    button.bg-azure:focus {
        background-color: #1594ef !important;
    }

    .text-azure {
        color: #45aaf2 !important;
    }

    .bg-lime {
        background-color: #7bd235 !important;
    }

    .selectgroup {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
    .selectgroup-item {
        -ms-flex-positive: 1;
        flex-grow: 1;
        position: relative;
    }
    .selectgroup-input {
        opacity: 0;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
    .selectgroup-input:checked + .selectgroup-button {
        border-color: #467fcf;
        z-index: 1;
        color: #467fcf;
        background: #edf2fa;
    }
    .selectgroup-item:not(:last-child) .selectgroup-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .selectgroup-button {
        display: block;
        border: 1px solid rgba(0, 40, 100, 0.12);
        text-align: center;
        padding: 0.375rem 1rem;
        position: relative;
        cursor: pointer;
        border-radius: 3px;
        color: #9aa0ac;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 0.9375rem;
        line-height: 1.5;
        min-width: 2.375rem;
    }
</style>
{/block}
{block name="body"}
<div class="content-inner">
    <!-- 表格统计 -->
    <div class="" id="report1">
        <div class="invoice-title d-flex justify-content-between">
            <h5 class="h5">今日概况</h5>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="mini" id="mini" >
                {volist name="minis" id="item"}
                <option value="{$item.id}" {if ($item.id eq $Request.get.id) or ($key==0)}selected{/if}>{$item.name}</option>
                {/volist}
            </select>
        </div>
        <hr>
        <div class="row" id="cards">
            {volist name="cards" id ="card"}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-status bg-orange"></div>
                    <div class="card-block">
                        <div class="text-left report1-cont d-flex justify-content-between">
                            <h4 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>{$card['total']}</h4>
                            <span class="text-muted">{$card['title']}</span>
                        </div>
                        <p class="border-bottom-red d-flex justify-content-between mb-1"><small>渠道用户</small><small class="text-success">{$card['channel']}</small></p>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width:{$card['total']==0?0:($card['channel']/$card['total']*100)}%; height: 6px;"></div>
                        </div>
                        <p class="border-bottom-greep d-flex justify-content-between mb-1"><small>平台用户</small><small class="text-success">{$card['oao']}</small></p>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {$card['total']==0?0:($card['channel']/$card['total']*100)}%; height: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <div class="" id="report2">
        <div class="invoice-title ">
            <div class="form-group">
                <div class="selectgroup">
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="today" checked class="selectgroup-input">
                        <span class="selectgroup-button">今天</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="yesterday" class="selectgroup-input">
                        <span class="selectgroup-button">昨天</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="week" class="selectgroup-input">
                        <span class="selectgroup-button">近七天</span>
                    </label>
                    <label class="selectgroup-item">
                        <input type="radio" name="dategroup" value="month" class="selectgroup-input">
                        <span class="selectgroup-button">近30天</span>
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="login" height="200"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">新增访问</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="register" height="200"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">新增用户</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="auth" height="100"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">新增授权</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-c1">
                    <div class="card-header card-chart" data-background-color="green">
                        <canvas class="ct-chart" id="browseAd" height="100"></canvas>
                    </div>
                    <div class="card-content">
                        <h4 class="title">广告浏览次数</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<!--Core Javascript -->
<script>
    $(function(){
        var chartbox = {
            'login': document.getElementById("login").getContext('2d'),
            'register': document.getElementById("register").getContext('2d'),
            'auth': document.getElementById("auth").getContext('2d'),
            'browseAd': document.getElementById("browseAd").getContext('2d')
        };
        var config = {
            type: 'line',
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '日期',
                            ticks: {
                                autoSkip: true
                            }
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '访问人次',
                            ticks: {
                                stepSize: 1
                            }
                        }
                    }]
                }
            }
        };

        getCharts({id:1});
        $('.selectgroup-button').on('click',function(e){
            var id = $('#mini').val();
            var date = $(this).prev('input').val();
            var data = {
                id: id?id:1,
                date:date
            }
            getCharts(data);
        })
        $('#mini').change(function(){
            var id = $(this).val();
            getCards(id);
            getCharts({id:id});
        });
        
        function getCharts(data){
            $.getJSON("{:url('admin/publice/chart')}",data,function(charts){
                $.each(charts,function (index,chart){
                    config.data= chart;
                    new Chart(chartbox[index], $.extend({},config))
                });
            });
        }
        
        function getCards(id){
            $.getJSON("{:url('admin/publice/card')}",{id:id},function(carts){
                var html='';
                $.each(carts,function (index,cart){
                    html += '<div class="col-sm-3">' +
                        '    <div class="card">' +
                        '        <div class="card-status bg-orange"></div>' +
                        '        <div class="card-block">' +
                        '            <div class="text-left report1-cont d-flex justify-content-between">' +
                        '                <h4 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i>'+card['total']+'</h4>' +
                        '                <span class="text-muted">'+card['title']+'</span>' +
                        '            </div>' +
                        '            <p class="border-bottom-red d-flex justify-content-between mb-1"><small>渠道用户</small><small class="text-success">'+card['channel']+'</small></p>' +
                        '            <div class="progress">' +
                        '                <div class="progress-bar bg-success" role="progressbar" ' +
                        '                   style="width:'+ (card['total']==0?0:(card['channel']/card['total']*100))+'%; height: 6px;"></div>' +
                        '            </div>' +
                        '            <p class="border-bottom-greep d-flex justify-content-between mb-1"><small>平台用户</small><small class="text-success">'+card['oao']+'</small></p>' +
                        '            <div class="progress">' +
                        '                <div class="progress-bar bg-success" role="progressbar" style="width: '+ (card['total']==0?0:(card['channel']/card['total']*100))+'%; height: 6px;"></div>' +
                        '            </div>' +
                        '        </div>' +
                        '    </div>' +
                        '</div>';
                });
                $('#card').html(html);
            });
        }
    });
</script>
{/block}